/* navbar */

.navbar-brand {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: bolder;
  color: #707070 !important;
}

/* nav link */
.nav-link {
  margin-right: 56px;
  font-size: 16px;
}

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid #e8e8e8;
  width: 50%;
  margin: auto;
  padding-bottom: 4px;
  margin-bottom: -8px;
}

/* search panel */
.search-panel {
  height: 40px;
  width: 328px;
  border-radius: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f2;

  position: relative;
}

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search {
  border: none;
  background-color: #f4f4f2;
  height: 100%;
  width: 100%;
  margin-left: 15px;
  font-family: Montserrat;
  font-size: 11px;
  color: #707070;
}

.search:focus {
  outline: none;
}

.search-panel img {
  height: 14px;
  width: 14px;
}

/* end search panel */
.login-panel {
  height: 519px;
  width: 352px;
  border-radius: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f2;
  margin-top: 90px;
  font-family: "Montserrat";
  color: #707070;
}

.login-panel h1 {
  font-size: 30px;
  margin-top: 84px;
  margin-left: 52px;
  font-weight: bold;
}

.login-panel p {
  font-size: 12px;
  margin-left: 52px;
}

.login-panel p a {
  font-weight: bold;
}

.login-panel p a:link {
  text-decoration: none;
  color: #707070;
}

.login-panel p .forgot {
  margin-left: 113px;
}

.email,
.password {
  /* border: none; */
  background-color: #f4f4f2;
  margin-left: 52px;
  font-family: Montserrat;
  font-size: 16px;
  color: #707070;
  border-top: 2px #707070;
  border-left: 2px #707070;
  border-right: 2px #707070;
  margin-top: 40px;
}

.email:focus,
.password:focus {
  outline: none;
}
/* login-panel */

/* all button */
.btn {
  border-radius: 15px;
  font-family: "Montserrat";
  margin-top: 59px;
  margin-left: 125px;
  font-size: 16px;
}
